
@media(max-width: 1200px){
    .container{
        width: 920px;
        margin: 0 auto;
    }
    .flags{
        min-height: 30px;
        .flex{
            display: flex;
            justify-content: space-between;
            padding-left: 20px;
            padding-right:20px ;
        }
        &_country{
            height: 30px;
            width: 130px;
            &-descr{
                h3{
                    margin-top: 5px;
                }
                .address{
                    display: none;
                }
                div{
                    display: none;
                }
            }
        }
    }
    .header{
        &_menu{
            padding-right: 30px;
            
        }
        &_descr{
            
            h2{
                margin-top: 37px;
            }
            .btn1{ 
                margin-top: 57px;
            }
            img{
               height: 500px;
               top: -40px;
            }
            
        }
    }

    .withpregni{
        &1{
            div{
                img{
                    width: 250px;
                }
                span{
                    top: 116px;
                }
            }
        }
        &2{
            img{
                margin-top: 50px;
                width: 150px;
            }
            h2{
                font-size: 38px;
            }
        }
        &3{
            div{
                img{
                    width: 250px;
                }
                span{
                    font-size: 17px;
                    top: 116px;
                }
            }
            
        }
    }

    .photo-album{
        height: 810px;
        &_photo{
            .block_photos{
                .photo{
                    width: 800px;
                }
            }
        }
    }
    .advantage{
        min-height: 1034px;
        &_main{
            h3{
            }
            &-grids{
                grid-template:repeat(3, 284px)/ 456px 456px ;
                img{
                    width: 456px;
                }
                &-grid{                   
                    .block_grid{
                    width: 456px;
                    height: 116px;
                    padding: 20px 30px 0 30px ;                      
                        &-text{
                        }
                    }
                }
            }
        }
    }

    .options{
        padding-top: 29px;
        &_main{
            .h3big{
            }
            &-blocks{
                width: 940px;
                display: block;
                .options_block1{
                    margin-top: 58px;
                  
                    .h3small1{
                    }                
                    .span1{
                    }                
                    .square1{
                        left: 20px;
                    }
                }
                .options_block2{
                    margin-left: 380px;
                    .h3small2{
                    }
                    .span2{
                    }
                    .square2{
                        left: -357px;
                    }
                }
            }
        }
    }
    .footer{
        &_main{
            &_1{
                &_block1{
                    width: 280px;
                }
            }
        }
    }
}

@media(max-width: 991px){
    .container{
        width: 700px;
        margin: 0 auto;
    }
    .flags{
        min-height: 30px;
        .flex{
            display: flex;
            justify-content: space-between;
            padding-left: 20px;
            padding-right:20px ;
        }
        &_country{
            height: 30px;
            width: 130px;
            &-descr{
                h3{
                    margin-top: 5px;
                }
                .address{
                    display: none;
                }
                div{
                    display: none;
                }
            }
        }
    }
    .header{
        &_menu{
            
            .nav{
                width: 480px;
            }
        }
        &_descr{
            
            h2{
                margin-top: 37px;
            }
            .btn1{ 
                margin-top: 57px;
            }
            img{
                display: none;
            }
            
        }
    }

    .withpregni{
        height:666px;
        &1{
            div{
                img{
                    width: 200px;
                }
                span{
                    top: 86px;
                }
            }
        }
        &2{
            img{
                margin-top: 10px;
                width: 150px;
            }
            h2{
                font-size: 38px;
            }
        }
        &3{
            div{
                img{
                    width: 200px;
                }
                span{
                    font-size: 17px;
                    top: 86px;
                    width: 200px;
                }
            }
            
        }
    }

    .photo-album{
        height: 630px;
        padding: 30px 0 30px 0;
        &_navs{
            width: 723px;
        }
        &_photo{
            padding: 0 0 0 0;
            .block_photos{
                .photo{
                    width: 600px;
                }
            }
        }
    }
    .advantage{
        min-height: 834px;
        &_main{
            h3{
            }
            &-grids{
                grid-template:repeat(3, 218px)/ 350px 350px ;
                img{
                    width: 350px;
                }
                &-grid{                   
                    .block_grid{
                    width: 350px;
                    height: 116px;
                    top: 60px;
                    padding: 20px 10px 0 10px ;                      
                        &-text{
                        }
                    }
                }
            }
        }
    }

    .options{
        padding-top: 29px;
        &_main{
            .h3big{
            }
            &-blocks{
                width: 700px;
                display: block;
                .options_block1{
                    margin-top: 58px;
                    margin-left: 80px;
                  
                    .h3small1{
                    }                
                    .span1{
                    }                
                    .square1{
                        left: 20px;
                    }
                }
                .options_block2{
                    margin-left: 80px;
                    .h3small2{
                    }
                    .span2{
                    }
                    .square2{
                        left: -357px;
                    }
                }
            }
        }
    }
    .footer{
        &_main{
            margin-left: -15px;
            width: 730px;
            &_1{
                h4{
                    font-size: 15px;
                }
                span{
                    font-size: 13px;
                }
                &_block1{
                    width: 150px;
                    img{
                        width: 150px;
                    }
                    span{
                        display: none;
                    }
                }
            }
            &_2{
                width: 720px;
            }
        }
    }
}

@media(max-width: 767px){
    .container{
        width: 540px;
        margin: 0 auto;
    }

    .menu{
        position: fixed;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		top: 0px;
		left: -100%;
		width: 50%;
		height: 100vh;
        z-index: 1;
		padding: 30px 15px 0 55px;
		background-color: rgba(238, 238, 238, 0.8);
		transition: 0.6s all;
        list-style-type: none;
        
		&_active {
            left: 0;
        }
		&_item {
            padding-right: 0;
			border: none;
			margin: 50px 0;
        }
		&_link {
            font-size: 25px;
        }
    }
		

    .hamburger{
        display: block;
        position: absolute;
        right: 10px;
        top: 17px;
        transform: translateY(-50%);
        width: 26px;
        height: 12px;
        span {
            display: block ;
            height: 2px;
            width: 100%;
            background-color: rgb(0, 0, 0) ;
            margin-bottom: 4px;
            transition: 0.5s all;
        }
        &_active {
            span {
                margin-bottom: -2px ;
                &:nth-child(1){
                    transform: translateY(3px) rotate(-45deg);
                }
                &:nth-child(2){
                    display: none;
                }
                &:nth-child(3){
                    transform: translateY(3px) rotate(45deg);
                }
            }
        }
    }
    .flags{
        .flex{
        }
        &_country{
            display: none;
            &-descr{
                h3{
                }
                .address{
                }
                div{
                }
            }
        }
    }
    .header{
        &_menu{
            
            .nav{
                display: none;
                width: 480px;
            }
        }
        &_descr{
            
            h2{
                margin-top: 37px;
            }
            .btn1{ 
                margin-top: 57px;
            }
            img{
                display: none;
            }
            
        }
    }

    .withpregni{
        min-height:1000px;
        &1{
            width: 540px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
            div{
                margin-top: 10px;
                margin-left: 7px;
                margin-right: 7px;
                
                img{
                    width: 240px;
                }
                span{
                    top: 106px;
                }
            }
        }
        &2{
            img{
                margin-top: -40px;
                width: 150px;
            }
            h2{
                font-size: 38px;
            }
        }
        &3{
            width: 540px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            div{
                margin-top: 10px;
                margin-left: 7px;
                margin-right: 7px;
                
                img{
                    width: 240px;
                }
                span{
                    top: 106px;
                }
            }
            
        }
    }

    .photo-album{
        height: 630px;
        padding: 30px 0 30px 0;
        &_navs{
            width: 523px;
            .photo-album_nav{
                margin-top: -10px;
                width: 70px;
                line-height: 1.0;
            }
        }
        &_photo{
            padding: 0 0 0 0;
            .block_photos{
                .photo{
                    width: 480px;
                }
            }
        }
    }
    .advantage{
        min-height: 834px;
        &_main{
            h3{
            }
            &-grids{
                grid-template:repeat(6, 311px)/ 500px ;
                justify-content: center;
                img{
                    width: 500px;
                }
                &-grid{                   
                    .block_grid{
                    width: 500px;
                    height: 156px;
                    top: 100px;
                    padding: 40px 30px 0 30px ;                     
                        &-text{
                        }
                    }
                }
            }
        }
    }

    .options{
        padding-top: 29px;
        &_main{
            .h3big{
            }
            &-blocks{
                width: 540px;
                display: block;
                .options_block1{
                    margin-top: 58px;
                    margin-left: 0px;
                  
                    .h3small1{
                    }                
                    .span1{
                    }                
                    .square1{
                        left: 20px;
                    }
                }
                .options_block2{
                    margin-left: 10px;
                    .h3small2{
                    }
                    .span2{
                    }
                    .square2{
                        left: -357px;
                    }
                }
            }
        }
    }
    .footer{
        min-height: 67px;
        padding: 5px 0 5px 20px;
        &_main{
            margin-left: 10px;
            width: 520px;
            &_1{
                
            justify-content: space-around;
                height: 20px;
                h4{
                    font-size: 15px;
                }
                span{
                    display: none;
                }
                &_block1{
                    width: 100px;
                    img{
                        display: none;
                        width: 100px;
                    }
                    span{
                        display: none;
                    }
                }
            }
            &_2{
                margin-top:4px ;
                width: 540px;
            }
            &_3{
                margin-top: 5px;
            }
        }
    } 
}

@media(max-width: 575px){
    .container{
        width: 300px;
        margin: 0 auto;
    }

    
    .hamburger{
        display: block;
        position: absolute;
        right: 10px;
        top: 17px;
        transform: translateY(-50%);
        width: 26px;
        height: 12px;
        span {
            display: block ;
            height: 2px;
            width: 100%;
            background-color: rgb(0, 0, 0) ;
            margin-bottom: 4px;
            transition: 0.5s all;
        }
        &_active {
            span {
                margin-bottom: -2px ;
                &:nth-child(1){
                    transform: translateY(3px) rotate(-45deg);
                }
                &:nth-child(2){
                    display: none;
                }
                &:nth-child(3){
                    transform: translateY(3px) rotate(45deg);
                }
            }
        }
    }
    .flags{
        background-color:rgb(238, 238, 238);
        &_country{
            display: none;
            
        }
    }
    .header{
        height: 500px;
        &_menu{
            
            .nav{
                display: none;
                width: 480px;
            }
        }
        .menu{
            position: fixed;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top: 0px;
            left: -100%;
            width: 85%;
            height: 100vh;
            z-index: 1;
            padding: 30px 15px 0 55px;
            background-color: rgba(238, 238, 238, 0.8);
            transition: 0.6s all;
            list-style-type: none;
            
            &_active {
                left: 0;
            }
            &_item {
                padding-right: 0;
                border: none;
                margin: 50px 0;
            }
            &_link {
                font-size: 25px;
            }
        }
        &_descr{
            margin-top: 33px;
            h1{
                font-size: 22px;
                width: 300px;
            }
            h2{
                margin-top: 37px;
                width: 300px;
            font-size: 22px;
            }
            .btn1{ 
                margin-top: 57px;
            }
            img{
                display: none;
            }
            
        }
    }

    .withpregni{
        min-height:1400px;
        &1{
            width: 300px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
            div{
                margin-top: 10px;
                margin-left: 7px;
                margin-right: 7px;
                
                img{
                    width: 240px;
                }
                span{
                    top: 106px;
                }
            }
        }
        &2{
            img{
                margin-top: -40px;
                width: 150px;
            }
            h2{
                font-size: 38px;
            }
        }
        &3{
            width: 300px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            div{
                margin-top: 10px;
                margin-left: 7px;
                margin-right: 7px;
                
                img{
                    width: 240px;
                }
                span{
                    top: 106px;
                }
            }
            
        }
    }

    .photo-album{
        display: none;
        
    }
    .advantage{
        padding: 10px 0 10px 0 ;
        min-height: 834px;
        &_main{
            h3{
                font-size: 20px;
                text-transform: uppercase;
            }
            &-grids{
                margin-top: 5px;
                grid-template:repeat(6, 186px)/ 300px ;
                justify-content: center;
                img{
                    width: 300px;
                }
                &-grid{                   
                    .block_grid{
                    width: 300px;
                    height: 56px;
                    top: 100px;
                    padding: 10px 10px 0 10px ;                     
                        &-text{
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }

    .options{
        display: none;
        padding-top: 29px;
        &_main{
            .h3big{
            }
            &-blocks{
                width: 540px;
                display: block;
                .options_block1{
                    margin-top: 58px;
                    margin-left: 0px;
                  
                    .h3small1{
                    }                
                    .span1{
                    }                
                    .square1{
                        left: 20px;
                    }
                }
                .options_block2{
                    margin-left: 10px;
                    .h3small2{
                    }
                    .span2{
                    }
                    .square2{
                        left: -357px;
                    }
                }
            }
        }
    }
    .connect{
        height: 490px;
        padding:10px 0 10px 0;
        &_main{
           img{
               width: 250px;
           }
            h3{
                margin-top: 24px;
                font-size: 20px;
                font-weight: 900;
                text-align: center;
                color: #393939;
            }
            
        }
    }
    .footer{
        min-height: 10px;
        padding: 0px 0 3px 5px;
        &_main{
            margin-left: 10px;
            width: 300px;
            &_1{
                display: none;
            }
            &_2{
                display: none;
            }
            &_3{
                width: 300px;
                margin-top: 5px;
                a{
                    text-align: center;
                    span{
                        width: 274px;
                        
                        font-size: 10px;
                        font-weight: 300;
                        text-align: right;
                        color: #fff;
                    }
                }
            }
        }
    }   
}